<button onclick="showFlashcardSection()">Rozpocznij naukę</button>
<button onclick="showDictionarySection()">Twój słownik</button>
<button onclick="showTestSection()">Test</button>
<button onclick="showMainSection()">Mój profil</button>
<button onclick="logout()">Wyloguj się</button>
<h2>Flashcards</h2>

<!-- Opcje wyboru języka na przedniej stronie flashcard -->
<div>
  <label><input type="radio" name="flashcardSide" value="en" checked> Angielski na przodzie</label>
  <label><input type="radio" name="flashcardSide" value="pl"> Polski na przodzie</label>
</div>

<div id="flashcardContainer">
  <div id="flashcard" class="flashcard">
    <div class="flashcard-front">Kliknij, aby zobaczyć tłumaczenie</div>
    <div class="flashcard-back">Tłumaczenie</div>
  </div>
  <button onclick="showNextFlashcard()">Następna</button>
</div>
