<h2>Rejestracja</h2>
<label for="register-username">Nazwa użytkownika:</label>
<input type="text" id="register-username" placeholder="Wybierz nazwę użytkownika"><br>
<label for="register-password">Hasło:</label>
<input type="password" id="register-password" placeholder="Wybierz hasło"><br>
<label for="confirm-password">Powtórz hasło:</label>
<input type="password" id="confirm-password" placeholder="Powtórz hasło"><br>
<label for="learning-goals">Dlaczego chcesz uczyć się języka?</label>
<textarea id="learning-goals" placeholder="Opisz swoje cele" rows="3"></textarea><br>
<label>
<input type="checkbox" id="terms-checkbox">
   Akceptuję warunki 
</label><br>
<button onclick="registerUser()">Zarejestruj</button>
<p><a href="#" onclick="showLoginSection()">Masz już konto? Zaloguj się</a></p>